@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme {
  --breakpoint-md: 1030px;
}

:root, html, body, * {
  color-scheme: light only !important;
}

html, body {
  font-family: 'Geist', sans-serif;
  background-color: #ffffff !important;
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
