@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme {
  --breakpoint-md: 900px;
}

:root {
  color-scheme: light only;
}

html, body {
  font-family: 'Geist', sans-serif;
  background-color: #ffffff !important;
  color: #111111 !important;
}

/* Prevent dark mode color changes */
@media (prefers-color-scheme: dark) {
  html, body, #root {
    background-color: #ffffff !important;
    color: #111111 !important;
  }

  img, svg {
    filter: none !important;
  }
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
